<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>Sigacidades</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>SIGA CIDADES</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>NSMicrophoneUsageDescription</key>
		<string>Este app não utiliza do seu microfone, por isso recomendamos negar esta autorização.</string>
		<!-- Permissões de localização para iOS -->
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>Este aplicativo precisa de acesso à sua localização para mostrar lugares próximos e locais no mapa.</string>
		<key>NSLocationAlwaysUsageDescription</key>
		<string>Este aplicativo precisa de acesso à sua localização para mostrar lugares próximos e locais no mapa, mesmo quando o aplicativo estiver em segundo plano.</string>
		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<string>Precisamos acessar sua localização para mostrar os locais no mapa.</string>
		<!-- Permissões extras para acessar internet -->
		<key>UIBackgroundModes</key>
		<array>
			<string>audio</string>
		</array>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSAllowsArbitraryLoads</key>
			<true/>
		</dict>
		<!-- Permissões para usar o URL_LAUNCHER -->
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>https</string>
			<string>http</string>
			<string>mailto</string>
			<string>googlegmail</string>
			<string>ms-outlook</string>
			<string>googlechrome</string>
			<string>googlechromes</string>
			<string>googlechrome-x-callback</string>
			<string>safari</string>
			<string>fb</string>
			<string>fbapi</string>
			<string>fbauth2</string>
			<string>fbshareextension</string>
			<string>fb-messenger-api</string>
			<string>twitter</string>
			<string>instagram</string>
			<string>instagram-stories</string>
		</array>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>LSSupportsOpeningDocumentsInPlace</key>
		<true/>
		<key>UIFileSharingEnabled</key>
		<true/>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>LSApplicationCategoryType</key>
		<string></string>
		<key>UIStatusBarHidden</key>
		<false/>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
	</dict>
</plist>
